# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Models
data/models/*.pkl

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
# Données
data/raw/

# Modèles
data/models/

# Soumissions (optionnel)
data/submissions/

